.ventana{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    --transition: transform .8s;
   }
   
   .ventana h1{
    background-color: var(--azuloscuro);
    padding: 2rem;
    width:100%;
    text-align:center;
    color:white;
   }
   
   .uwu{
    opacity: 1;
    pointer-events: unset;
    --transform: translateY(0);
    --transition: transform .5s .8s;
   }
   
   .modal_con{
    margin: auto;
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 6px;
    padding: 2em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
   }
   
   .cerrar{
    text-decoration: none;
    color: white;
    background-color:  var(--negro2);
    padding: 1em ;
    border: 1px solid ;
    display: inline-block;
    transition:  .3s;
    font-size:100%;
   }