.reg{
    font-size:180%;
    display: flex;
    justify-content: center;
   }

   @media screen and (min-width: 300px) and (max-width:700px){.reg{
    font-size:180%;
    display: flex;
    justify-content: center;
   }
}