.t input{
    display: flex;
    width: 120%;
    
    justify-content: space-around; 
   }


   .t select{
    display: flex;
    width:120%;
    margin: 0px;
    padding: 2px;
    justify-content: space-around;   
   }

   .l{
    display: flex;
    padding: 0px;
    justify-content: space-around; 
    font-size: 70%;  
   }

   .f{
    display: flex;

    flex-direction: row; 
    font-size: 90%;  
   }
   .blogin{
    background-color: var(--negro2);
    width: 90%;
    padding: 8px;
    
    color: white;
    text-decoration: none;
    cursor: pointer;
   }
   







   @media screen and (min-width: 300px) and (max-width:700px){
    .t input{
        width: 80%;
        margin: 2px;
        padding: 3px;
       }
          
       .t select{
        display: flex;
        width:90%;
        margin: 0px;
        padding: 3px;
        justify-content: space-around;
       }}
   




