.bien{
    background-color: #1f5a8aea;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    text-align: center;
    color: white;
   }

   @media screen and (min-width: 300px) and (max-width:700px){
    .bien{
 background-color: #1f5a8aea;
 display:flex;
 margin:-4em;
 flex-direction:column;
 justify-content: center;
 text-align:center;
 font-size:80%;
 color: white; 
}

.bien img{
 display: flex;
 width:100px;
 text-align:center;
}}