@import
url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');
:root{
--azulclaro: #48D6ED;
--azuloscuro: #337AB7;
--azulnegro: #303342;
--negro: #333333;
--negro2: #000;
--gris: #B2B3B3;
--fondo: #FFFEFC;
--verdeazul: #157A8A;
--Magenta: #9C2759;
--blanco: #fff;
--degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
 margin:0; 
}

h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
   }


#formulario{
    background-image: url(./edif.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   }

.conten{
 display: flex;
 justify-content: space-around;
}

.dat{
 display: flex;
 justify-content: space-around;
}

.dat1{
 background-color: #ced4d4;
 margin: 4rem;
 display: flex;
 justify-content: space-around;
 width: 100%;
 height: 90vh;
 opacity: 80%;
 padding: 15px;
}



.t{
    display: flex;
    min-width:1200px;
    max-width:1500px;
    align-items: center;
    justify-content: space-around;
    font-size: 150%;
   }

   @media screen and (min-width: 300px) and (max-width:700px){
    #formulario{
        background-image: url(./edif.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding:4em;
       }

       .dat{
        background-color: #ced4d4;
        margin-top:4em;
         width:100%;
        opacity: 90%;
        padding: 10px;
        display: flex;
        justify-content: center; 
       }
          
       .t{
        display: flex;
        font-size:70%;
        align-items: center;
        flex-direction:column;
       }}

 
